@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-light';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-medium';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display-BoldItalic';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display-Italic';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display-Bold';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 14px;
}



header {
    font-family: Raleway-medium;
    flex-wrap: wrap;   
}


.container {
    margin: 0 auto;
    justify-content: space-between;
    max-width: 100%;
    
} 
.container {
    display: flex;
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-left: 2%;
    padding-right: 2%
}

.logo {
    width: auto;
    display: flex;

}
.logo img {
    width: 120px;   
}

.cart { 
    width: auto;
    display: flex;
    justify-content: flex-end;

}
.cart img {
    width: 40px;
    height: 62px;
}

.navigation a {
    text-decoration: none;
    color: rgb(227, 87, 76)
}

.navigation {
    align-self: center;
    padding-right : 40px;
    flex-wrap: wrap;
    
    
}
  
.navigation li {
    display: inline;
    margin: 1rem;
    text-transform: uppercase;
    flex-wrap: wrap
}


/*--Banner--*/

.banner {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(images/banner-girl.png) no-repeat center 60px,url(images/flower-bkgd.jpg) repeat-x top;
    background-size: cover, 250px 615px, contain;
    height: 550px;
    position: relative;
    top: -20px;
    max-width: 100%;
}

.banner-text {
    font-family: Playfair Display;
    color: #fff;
    left: 50%;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
}

.collection {
    font-size: 1.25rem;
    font-family: raleway-medium;
    margin-bottom: 15px
}
.season {
    font-size: 4rem;
    margin: 0;
}

/*--Newsletter--*/

.newsletter {
    background-image: url(images/wave-bkgd.jpg);
    width: 100%;
    height: 344.5px;
    background-position: bottom;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(rgba(0,0,0,.25)));
    margin-bottom: 8px;
}

/*--footer--*/

footer {
    background-color: #242424;
    display: flex;
    height: 288px; 
    max-width: 100%;
}
.footer {
    display: flex;
    height: 160px;
    justify-content: space-between; 
    color: #fff;
    margin: auto;
    padding-left: 4%;
    max-width: 100%
}

.social a {
    color: #fff;
    text-decoration: none;  
}

footer p {
    margin: 0
}
.info {
    display: block;
    line-height: 1.5rem;
    padding-left: 1.5rem  
}
.copyright {
    margin-bottom: 1rem;
}

.phone {
    margin-bottom: 1rem;  
}

.phone a {
    color: #fff
}
.address {
    color: #969696
}
.social {
    font-family: raleway-light;
    display: flex;
    padding-right: 5rem; 
    line-height: 2rem
}


.social i {
    min-width: 25px;
    line-height: 2rem
}
ul.social-icons {
    align-self: center;
    padding-right: 64px
    
}


@media screen and (min-width: 1240px) {
    .logo {
        width: 237.2px;
    }
    .logo img {
        width: 160px;
    }
    html {
        font-size: 16px;
    }
    .container {
        width: 1186.53px;
    }
    .cart {
        width: 237.2px;
    }
    .cart img {
        width: 62px;
    }
    .nav-menu {
    }
}
@media screen and (max-width: 600px) {
   .container {
       display: flex;
    
   } 
   .logo {
   order: 1

   }

   .navigation {
    width: 100%;
    order: 3
   }

   .cart {
     order: 2
   }
}