
@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-light';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-medium';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display-BoldItalic';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display-Italic';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display-Bold';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
    font-size: 16px;
}


body {
    /* line-height: 1; */
}

header {
    font-family: Raleway-medium;
    align-content: space-around;
    
}


.container {
    max-width: 1240px;
    max-height: 96.5px;
    margin: 0 auto;
    padding: 0 2%;
    
} 
.container {
    max-width: 1186.5333px;
    display: flex;
    /* margin: auto */
    /* max-width: 1240px; */
    margin: 0 auto;
    display: flex;
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-left: 2%;
    padding-right: 2%;

    

}
/*---
height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;--*/
.logo {
    height: 72.5px;
    width: 237.2px;
    align-self: flex-start;
    

}
.logo img {
    width: 160px;
    height: 62;
    /*--padding-top: 11px;
    padding-right: 10%*/
}

.cart {
    height: 72.5px;
    width: 237.2px;
    display: flex;
    justify-content: flex-end;
    /* text-align: right; */
    /* padding-right: 4.3%; */
}
.cart img {
    width: 62px;
    height: 62px;
    /*padding-top: 11px;
    padding-right: 11%*/

}

.navigation a {
    text-decoration: none;
    color: rgb(227, 87, 76)
}

.navigation{
    align-self: center;
    padding-right : 40px;
}

.nav-menu {
    width: 711px;
    text-align: center;
    display: inline-block;   
}

.navigation li {
    font-size: 1rem;
    display: inline;
    margin: 1rem;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;   
}


/*--Banner--*/

.banner {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(images/banner-girl.png) no-repeat center 60px,url(images/flower-bkgd.jpg) repeat-x top;
    background-size: cover, 250px 615px, contain;
    height: 550px;
    position: relative;
    top: -20px

}

.banner-text {
    font-family: Playfair Display;
    color: #fff;
    left: 50%;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);

}

.collection {
    font-size: 1.25rem;
    font-family: raleway-medium;
    margin-bottom: 15px
    


}
.season {
    font-size: 4rem;
    margin: 0;

}

/*--Newsletter--*/

.newsletter {
    background-image: url(images/wave-bkgd.jpg);
    width: 1349px;
    height: 344.5px;
    background-position: bottom;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(rgba(0,0,0,.25)));
    margin-bottom: 8px;
}

/*--footer--*/

footer {
    background-color: #242424;
    display: flex;
    height: auto;
    height: 288px;
    /* padding: 0 2%; */
    
    
}
.footer {
    display: flex;
    width: 1186.5333px;
    height: 160px;
    justify-content: space-between; 
    color: #fff;
    margin: auto;
    padding-left: 4%;
    width: 100%
}

/* .footer {
    padding: 0 2%;
    margin: 0 auto;
    width: 100%;
} */

.social a {
    color: #fff;
    text-decoration: none;
    height: 2rem;
    
}

footer p {
    margin: 0
}
.info {
    display: flex;
    vertical-align: center;
    display: block;
    line-height: 1.5rem;
    font-size: 16px;
    padding-left: 1.5rem
    
}
.copyright {
    margin-bottom: 1rem;
}

.phone {
    margin-bottom: 1rem;  
}

.phone a {
    color: #fff
}
.address {
    color: #969696
}
.social {
    font-family: raleway-light;
    display: flex;
    font-size: 1rem;
    padding-right: 5rem; 
    line-height: 2rem
}


.social i {
    min-width: 25px;
    line-height: 2rem
}
ul.social-icons {
    /* margin: 1rem; */
    align-self: center;
    padding-right: 64px
    
}
.fa {

}